<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Engine</title>
</head>
<body>
    <h1>Search Engine</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="query">Query:</label>
        <input type="text" id="query" name="query" required>
        
        <label for="model">Select Model:</label>
        <select id="model" name="model">
            <option value="bim">Binary Independence Model</option>
            <option value="non_overlap">Non-Overlapped List Model</option>
            <option value="proximal_nodes">Proximal Nodes Model</option>
        </select>
        
        <button type="submit">Search</button>
    </form>
    <hr>
    <h2>Results:</h2>
    <ul>
        {% if results is iterable %}
            <!-- If results are iterable (like a list or tuple) -->
            <ul>
                {% for result in results %}
                    <li>{{ result }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <!-- If results are a dictionary-like structure, display JSON format -->
            <pre>{{ results }}</pre>
        {% endif %}
    </div>
    </ul>

</body>
</html>
